Repository artkrsk/github-release-browser: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "*.php": [
    "vendor/bin/phpcbf --standard=.phpstan/phpcs.xml"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --noEmit --skipLibCheck"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Fix: Remove dist export-ignore to include dist directory in npm packages
  .gitattributes
Due: none

Fix: Remove export-ignore for essential npm package files
  .gitattributes
Due: none

fix download url
  src/php/Browser.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

bump version
  package.json
Due: prettier --write

update HttpClient
  src/php/Adapters/WordPress/HttpClient.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

Fix: Cast delete_transient() return value to bool for PHP 8+ compatibility
  src/php/Adapters/WordPress/Cache.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

Add PHP Stream Wrapper for custom protocol support
  src/php/Adapters/WordPress/StreamWrapper.php
  src/php/Browser.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

Update composer dependencies
  composer.lock
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

build: add code quality tooling configuration
  captainhook.json
  phpcs.xml
Due: prettier --write

build: update dependencies and PHP requirement
  composer.json
  composer.lock
  package.json
  phpstan.neon
  pnpm-lock.yaml
Due: prettier --write

feat: achieve PHPStan max level type safety
  src/php/Adapters/WordPress/Cache.php
  src/php/Adapters/WordPress/Config.php
  src/php/Adapters/WordPress/HttpClient.php
  src/php/Browser.php
  src/php/Core/Interfaces/ICache.php
  src/php/Core/Interfaces/IHttpClient.php
  src/php/Core/Services/AssetResolver.php
  src/php/Core/Services/GitHubAPI.php
  src/php/Core/Services/URIParser.php
  src/php/Core/Types/Response.php
  src/php/Includes/Frontend.php
  src/php/Includes/ModalIntegration.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

fix: repair FormData mock in GitHubService tests
  .lintstagedrc.json
  tests/ts/services/GitHubService.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: address PR review feedback
  composer.json
  src/php/Adapters/WordPress/HttpClient.php
  src/php/Browser.php
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write

feat: add comprehensive PHP unit testing infrastructure
  .gitattributes
  .gitignore
  .lintstagedrc.json
  composer.json
  composer.lock
  phpunit.xml
  tests/php/Unit/Services/AssetResolverTest.php
  tests/php/Unit/Services/GitHubAPITest.php
  tests/php/Unit/Services/URIParserTest.php
  tests/php/Unit/Types/ResponseTest.php
  tests/php/bootstrap.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write

chore: remove Husky in favor of CaptainHook
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add TypeScript tests to pre-push hook
  captainhook.json
Due: prettier --write

chore: address automated review feedback
  tests/php/Unit/Services/URIParserTest.php
  tests/php/bootstrap.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: add wp-env dev environment
  .wp-env.json
  .wp-env.override.json.example
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add dev harness mu-plugin
  dev-plugin/dev-harness.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: add WordPress auto-initialization script
  dist/index.mjs
  dist/wp-init.d.ts
  src/ts/wp-init.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: configure dev environment for wp-env
  project.config.js
  project.development.js
Due: none

chore: update gitignore for wp-env and build artifacts
  .gitignore
Due: none

feat: add GitHub source archives as synthetic assets
  src/php/Core/Services/GitHubAPI.php
  src/ts/components/AssetList.tsx
  src/ts/components/ReleaseList.tsx
  src/ts/interfaces/IAsset.ts
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: use standard WordPress capability for test_file endpoint
  src/php/Browser.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: improve dev environment UX
  dev-plugin/dev-harness.php
  dist/index.mjs
  dist/interfaces/IAsset.d.ts
  project.config.js
  src/ts/wp-init.ts
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor: extract IPlatformAPI interface for multi-platform support
  src/php/Browser.php
  src/php/Core/Interfaces/IPlatformAPI.php
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

refactor: extract IPlatformAPI interface for multi-platform support (#10)
  src/php/Browser.php
  src/php/Core/Interfaces/IPlatformAPI.php
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: add directory browsing API methods to IPlatformAPI and GitHubAPI
  src/php/Core/Interfaces/IPlatformAPI.php
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: add directory browsing AJAX handlers and URI parser
  src/php/Browser.php
  src/php/Core/Services/URIParser.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

feat: add TypeScript types and interfaces for directory browsing
  src/ts/interfaces/IBranch.ts
  src/ts/interfaces/IBrowserConfig.ts
  src/ts/interfaces/IContentItem.ts
  src/ts/interfaces/IDirectorySelection.ts
  src/ts/types/TBrowserView.ts
  src/ts/types/TSourceMode.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck
