Repository artkrsk/github-release-browser: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: update selectors in tests 03, 05, 06 for WordPress components
  tests/e2e/specs/03-directory-browsing.spec.ts
  tests/e2e/specs/05-error-handling.spec.ts
  tests/e2e/specs/06-loading-states.spec.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: complete E2E test fixes from parallel Opus agents
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/specs/01-repository-search.spec.ts
  tests/e2e/specs/02-release-browsing.spec.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

chore: remove debug utilities and verbose logging
  tests/e2e/fixtures/wordpress.ts
  tests/e2e/page-objects/WordPressAdmin.ts
  tests/e2e/setup/global-setup.ts
  tests/e2e/setup/global-teardown.ts
  tests/e2e/specs/00-debug-selectors.spec.ts
  tests/e2e/specs/00-smoke.spec.ts
  tests/e2e/utils/cache-helper.ts
  tests/e2e/utils/debug.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: all remaining E2E tests now passing (60/60)
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/page-objects/WordPressAdmin.ts
  tests/e2e/specs/03-directory-browsing.spec.ts
  tests/e2e/specs/04-asset-confirmation.spec.ts
  tests/e2e/specs/06-loading-states.spec.ts
  tests/e2e/specs/07-cache-behavior.spec.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: remove unused vi import from MSW test
  tests/ts/integration/BrowserApp.msw.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor: optimize E2E tests with navigation helpers and improved organization
  tests/e2e/fixtures/test-repos.json
  tests/e2e/helpers/navigation-helpers.ts
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/specs/01-repository-search.spec.ts
  tests/e2e/specs/02-release-browsing.spec.ts
  tests/e2e/specs/03-directory-browsing.spec.ts
  tests/e2e/specs/04-asset-confirmation.spec.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

ci: update all GitHub Actions to latest versions and fix PHP version
  .github/workflows/test.yml
Due: prettier --write

ci: fix wp-env timeout - add 30s init wait + increase timeout to 180s
  .github/workflows/test.yml
Due: prettier --write

ci: simplify workflow - disable wp-env dependent tests in CI
  .github/workflows/test.yml
Due: prettier --write

ci: fix invalid YAML - properly remove disabled jobs
  .github/workflows/test.yml
Due: prettier --write

ci: rewrite workflow file - clean simplified version
  .github/workflows/test.yml
Due: prettier --write

ci: remove feature branch from workflow triggers
  .github/workflows/test.yml
Due: prettier --write

feat: comprehensive E2E testing with MSW + Playwright
  .github/workflows/test.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/fixtures/wordpress.ts
  tests/e2e/helpers/navigation-helpers.ts
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/page-objects/WordPressAdmin.ts
  tests/e2e/setup/global-setup.ts
  tests/e2e/setup/global-teardown.ts
  tests/e2e/specs/01-repository-search.spec.ts
  tests/e2e/specs/02-release-browsing.spec.ts
  tests/e2e/specs/03-directory-browsing.spec.ts
  tests/e2e/specs/04-asset-confirmation.spec.ts
  tests/e2e/specs/05-error-handling.spec.ts
  tests/e2e/specs/06-loading-states.spec.ts
  tests/e2e/specs/07-cache-behavior.spec.ts
  tests/e2e/utils/cache-helper.ts
  tests/e2e/utils/wp-ready.ts
  tests/msw/factories.ts
  tests/msw/handlers.ts
  tests/msw/setup.ts
  tests/ts/integration/BrowserApp.msw.test.tsx
  vitest.config.msw.js
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor: reorganize test suite for better maintainability
  tests/mocks/wordpress-components.tsx
  tests/setup.ts
  tests/ts/components/AssetList.dom.test.tsx
  tests/ts/components/AssetList.test.tsx
  tests/ts/components/AssetsView.test.tsx
  tests/ts/components/BrowserApp.dom.test.tsx
  tests/ts/components/DirectoryView.test.tsx
  tests/ts/components/ErrorState.dom.test.tsx
  tests/ts/components/ErrorState.test.tsx
  tests/ts/components/ReleaseList.test.tsx
  tests/ts/components/RepositoryList.test.tsx
  tests/ts/components/RepositorySearch.test.tsx
  tests/ts/integration/__helpers__/browser-app-factories.ts
  tests/ts/integration/browser-app-assets.integration.test.tsx
  tests/ts/integration/browser-app-core.integration.test.tsx
  tests/ts/integration/browser-app-directory.integration.test.tsx
  tests/ts/integration/browser-app-handlers.integration.test.tsx
  tests/ts/integration/browser-app-repository.integration.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: improve coverage to 99.76% lines, 94.14% branches
  tests/mocks/wordpress-components.tsx
  tests/ts/components/SourceModeToggle.test.tsx
  tests/ts/hooks/useDirectoryData.test.tsx
  tests/ts/hooks/useGitHubData.test.tsx
  tests/ts/integration/browser-app-directory.integration.test.tsx
  tests/ts/services/GitHubService.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

Refactor test suite organization (#14)
  tests/mocks/wordpress-components.tsx
  tests/setup.ts
  tests/ts/components/AssetList.dom.test.tsx
  tests/ts/components/AssetList.test.tsx
  tests/ts/components/AssetsView.test.tsx
  tests/ts/components/BrowserApp.dom.test.tsx
  tests/ts/components/DirectoryView.test.tsx
  tests/ts/components/ErrorState.dom.test.tsx
  tests/ts/components/ErrorState.test.tsx
  tests/ts/components/ReleaseList.test.tsx
  tests/ts/components/RepositoryList.test.tsx
  tests/ts/components/RepositorySearch.test.tsx
  tests/ts/components/SourceModeToggle.test.tsx
  tests/ts/hooks/useDirectoryData.test.tsx
  tests/ts/hooks/useGitHubData.test.tsx
  tests/ts/integration/__helpers__/browser-app-factories.ts
  tests/ts/integration/browser-app-assets.integration.test.tsx
  tests/ts/integration/browser-app-core.integration.test.tsx
  tests/ts/integration/browser-app-directory.integration.test.tsx
  tests/ts/integration/browser-app-handlers.integration.test.tsx
  tests/ts/integration/browser-app-repository.integration.test.tsx
  tests/ts/services/GitHubService.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

docs(test): add comprehensive factory documentation
  tests/msw/factories.ts
  tests/test-utils.tsx
  tests/ts/integration/__helpers__/browser-app-factories.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor(test): replace inline mocks with factories in hook tests
  tests/ts/hooks/useBrowserState.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor(test): replace inline mocks with factories in component tests
  tests/ts/components/AssetList.test.tsx
  tests/ts/components/ReleaseList.test.tsx
  tests/ts/components/RepositoryList.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor(test): convert BrowserApp forEach loops to test.each
  tests/ts/components/BrowserApp.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor(test): add PHP helper methods to reduce Mockery boilerplate
  tests/php/Unit/Services/GitHubAPITest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

refactor(test): consolidate integration test component mocks
  tests/ts/integration/__mocks__/components.ts
  tests/ts/integration/browser-app-assets.integration.test.tsx
  tests/ts/integration/browser-app-core.integration.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor(test): systematic test suite improvements - Phases 1-3 (#15)
  tests/msw/factories.ts
  tests/php/Unit/Services/GitHubAPITest.php
  tests/test-utils.tsx
  tests/ts/components/AssetList.test.tsx
  tests/ts/components/BrowserApp.test.tsx
  tests/ts/components/ReleaseList.test.tsx
  tests/ts/components/RepositoryList.test.tsx
  tests/ts/hooks/useBrowserState.test.tsx
  tests/ts/integration/__helpers__/browser-app-factories.ts
  tests/ts/integration/__mocks__/components.ts
  tests/ts/integration/browser-app-assets.integration.test.tsx
  tests/ts/integration/browser-app-core.integration.test.tsx
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

chore: remove .taskmaster from git tracking
  .gitignore
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
Due: prettier --write

chore: remove .taskmaster from git tracking
  .cursor/plans/extract-github-browser-package-94e53743.plan.md
Due: prettier --write

test: comprehensive test infrastructure improvements
  .github/workflows/test.yml
  tests/msw/handlers.ts
  tests/test-utils.tsx
  tests/ts/integration/GitHubService.msw.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix(ci): update PHP version to 8.4 to match composer.lock requirements
  .github/workflows/test.yml
Due: prettier --write

fix: emptyResultsHandler response structure and simplify CI output
  .github/workflows/test.yml
  tests/msw/handlers.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: Comprehensive test infrastructure improvements (#16)
  .github/workflows/test.yml
  tests/msw/handlers.ts
  tests/test-utils.tsx
  tests/ts/integration/GitHubService.msw.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

build: ship built UI library bundle in src/php/libraries
  .gitignore
  src/php/libraries/github-release-browser/index.css
  src/php/libraries/github-release-browser/index.umd.js
Due: none

feat: export BrowserApp as the UMD default for host integrations
  src/php/libraries/github-release-browser/index.css
  src/php/libraries/github-release-browser/index.umd.js
  src/ts/wp-init.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

build: ship built UI library bundle in src/php/libraries (#18)
  .gitignore
  src/php/libraries/github-release-browser/index.css
  src/php/libraries/github-release-browser/index.umd.js
  src/ts/wp-init.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: patch @wordpress/env to fix phpunit global install in Docker build
  patches/@wordpress__env@10.37.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

ci: upgrade pnpm to v11 in test workflow
  .github/workflows/test.yml
Due: prettier --write

refactor: clean up comments and improve clarity in various files
  src/ts/components/ErrorState.tsx
  src/ts/interfaces/IApiResponse.ts
  tests/e2e/fixtures/wordpress.ts
  tests/test-utils.tsx
  tests/ts/utils/format.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix(security): capability-gated AJAX surface, host allowlist on the asset-URL handler, drop nopriv
  pnpm-workspace.yaml
  src/php/Browser.php
  src/php/Includes/Frontend.php
  tests/php/Integration/Ajax/GetDownloadUrlTest.php
  tests/php/Integration/Ajax/GetReleasesTest.php
  tests/php/Integration/BrowserTest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write

feat: download_asset_to_file, streaming HTTP options, skip synthetic assets in AssetResolver
  src/php/Adapters/WordPress/HttpClient.php
  src/php/Core/Interfaces/IHttpClient.php
  src/php/Core/Interfaces/IPlatformAPI.php
  src/php/Core/Services/AssetResolver.php
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

fix: style three classes the components render but the sass never defined
  dist/index.css
  dist/index.mjs
  dist/wp-init.d.ts
  src/php/libraries/github-release-browser/index.css
  src/styles/_cards.sass
  src/styles/_directory.sass
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

Path conditions:
  vendor/bin/phpcbf --standard=.phpstan/phpcs.xml: any of: *.php
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
