Repository artkrsk/github-release-browser: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "*.php": [
    "vendor/bin/phpcbf --standard=.phpstan/phpcs.xml"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --noEmit --skipLibCheck"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

feat: add GitHubService directory methods and constants
  src/ts/constants/API.ts
  src/ts/interfaces/IRepoInfo.ts
  src/ts/interfaces/index.ts
  src/ts/services/GitHubService.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: add directory state management hooks
  src/ts/hooks/useBrowserState.ts
  src/ts/hooks/useDirectoryData.ts
  src/ts/types/THookReturns.ts
  src/ts/types/index.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: add directory browsing UI components
  dist/components/BranchSelector.d.ts
  dist/components/DirectoryBrowser.d.ts
  dist/components/DirectoryView.d.ts
  dist/components/SourceModeToggle.d.ts
  dist/constants/API.d.ts
  dist/hooks/useDirectoryData.d.ts
  dist/index.css
  dist/interfaces/IBranch.d.ts
  dist/interfaces/IBrowserConfig.d.ts
  dist/interfaces/IContentItem.d.ts
  dist/interfaces/IDirectorySelection.d.ts
  dist/interfaces/IRepoInfo.d.ts
  dist/interfaces/index.d.ts
  dist/services/GitHubService.d.ts
  dist/types/TBrowserView.d.ts
  dist/types/THookReturns.d.ts
  dist/types/TSourceMode.d.ts
  dist/types/index.d.ts
  src/ts/components/BranchSelector.tsx
  src/ts/components/BrowserApp.tsx
  src/ts/components/DirectoryBrowser.tsx
  src/ts/components/DirectoryView.tsx
  src/ts/components/SourceModeToggle.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: enable directory features in dev harness and config passing
  dev-plugin/dev-harness.php
  src/php/Includes/Frontend.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

fix: pass directory features to iframe modal correctly
  src/php/Includes/ModalIntegration.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

fix: navigate to directory view when clicking repo in directory mode
  src/ts/components/BrowserApp.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: replace deprecated ButtonGroup with ToggleGroupControl
  dist/index.mjs
  src/ts/components/SourceModeToggle.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

debug: add console logging for directory mode navigation
  src/ts/components/BrowserApp.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: add __nextHasNoMarginBottom to SearchControl
  src/ts/components/RepositorySearch.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: complete directory browsing functionality and protocol handling
  dist/index.mjs
  dist/interfaces/IAsset.d.ts
  src/ts/components/BrowserApp.tsx
  src/ts/components/DirectoryBrowser.tsx
  src/ts/global.d.ts
  src/ts/hooks/useDirectoryData.ts
  src/ts/interfaces/IAsset.ts
  src/ts/wp-init.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: polish directory browsing UX and fix deprecation warnings
  dist/hooks/useRepositoryActions.d.ts
  dist/index.css
  dist/index.mjs
  dist/interfaces/IRepositoryListProps.d.ts
  src/styles/_browser.sass
  src/styles/_cards.sass
  src/styles/_directory.sass
  src/styles/index.sass
  src/ts/components/AssetList.tsx
  src/ts/components/AssetsView.tsx
  src/ts/components/BranchSelector.tsx
  src/ts/components/BrowserApp.tsx
  src/ts/components/DirectoryBrowser.tsx
  src/ts/components/RepositoryList.tsx
  src/ts/components/SourceModeToggle.tsx
  src/ts/hooks/useRepositoryActions.ts
  src/ts/interfaces/IRepositoryListProps.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: add refresh buttons to AssetsView and DirectoryView
  dist/components/DirectoryView.d.ts
  dist/index.css
  dist/interfaces/IAssetsViewProps.d.ts
  src/ts/components/AssetsView.tsx
  src/ts/components/BrowserApp.tsx
  src/ts/components/DirectoryView.tsx
  src/ts/interfaces/IAssetsViewProps.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: add targeted cache clearing for releases and branches
  dist/index.css
  dist/index.mjs
  dist/services/GitHubService.d.ts
  src/php/Browser.php
  src/php/Core/Interfaces/IPlatformAPI.php
  src/php/Core/Services/GitHubAPI.php
  src/ts/components/BrowserApp.tsx
  src/ts/services/GitHubService.ts
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: fix failing tests after AssetsView and hook changes
  tests/ts/components/AssetList.dom.test.tsx
  tests/ts/components/AssetsView.test.tsx
  tests/ts/hooks/useRepositoryActions.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add comprehensive coverage for directory features
  tests/php/Unit/Services/GitHubAPITest.php
  tests/php/Unit/Services/URIParserTest.php
  tests/setup.ts
  tests/ts/components/AssetList.dom.test.tsx
  tests/ts/components/BranchSelector.test.tsx
  tests/ts/hooks/useDirectoryData.test.tsx
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add GitHubService directory methods coverage
  tests/ts/services/GitHubService.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add DirectoryBrowser component coverage (24 tests)
  src/ts/components/DirectoryBrowser.tsx
  tests/ts/components/DirectoryBrowser.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add comprehensive directory mode integration coverage
  tests/ts/components/BrowserApp.dom.test.tsx
  tests/ts/components/DirectoryView.test.tsx
  vitest.config.js
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: massive coverage expansion with Opus agent collaboration
  tests/ts/components/BrowserApp.dom.test.tsx
  tests/ts/hooks/useDirectoryData.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add SourceModeToggle component coverage (10 tests)
  tests/ts/components/SourceModeToggle.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

test: add handleConfirmDirectory coverage (10 tests)
  tests/ts/components/BrowserApp.dom.test.tsx
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor: organize hardcoded strings into translation system
  src/ts/components/BranchSelector.tsx
  src/ts/components/BrowserApp.tsx
  src/ts/components/DirectoryBrowser.tsx
  src/ts/components/SourceModeToggle.tsx
  src/ts/constants/ERRORS.ts
  src/ts/constants/TRANSLATION_FALLBACKS.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: add missing translation keys for directory browsing
  dist/constants/ERRORS.d.ts
  dist/index.mjs
  dist/interfaces/IStringKeys.d.ts
  src/ts/constants/TRANSLATION_FALLBACKS.ts
  src/ts/interfaces/IStringKeys.ts
  src/ts/utils/errorHandler.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

refactor: complete i18n integration for error messages
  dist/index.mjs
  dist/interfaces/IStringKeys.d.ts
  src/ts/hooks/useDirectoryData.ts
  src/ts/hooks/useGitHubData.ts
  src/ts/interfaces/IStringKeys.ts
  src/ts/services/GitHubService.ts
  src/ts/utils/format.ts
  tests/ts/services/GitHubService.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: remove debug logs and improve path encoding
  src/php/Core/Services/GitHubAPI.php
  src/ts/components/BrowserApp.tsx
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

security: add path traversal protection to get_contents
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

refactor: use WordPress validate_file() for path validation
  src/php/Core/Services/GitHubAPI.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

refactor: use SHA-256 for cache keys and update tests
  src/php/Core/Services/GitHubAPI.php
  tests/php/Unit/Services/GitHubAPITest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

test: add path traversal security tests for get_contents
  tests/php/Unit/Services/GitHubAPITest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

build: add phpunit-polyfills and downgrade to PHPUnit 9
  composer.json
  composer.lock
Due: prettier --write

test: add integration test infrastructure for wp-env
  package.json
  phpunit-integration.xml
  tests/php/bootstrap-integration.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, prettier --write

test: add integration tests for WordPress adapters
  tests/php/Integration/Adapters/CacheTest.php
  tests/php/Integration/Adapters/ConfigTest.php
  tests/php/Integration/Adapters/HttpClientTest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

test: add integration tests for Browser and URIParser
  tests/php/Integration/BrowserTest.php
  tests/php/Integration/Services/URIParserTest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

test: add integration tests for AJAX handlers
  tests/php/Integration/Ajax/GetReleasesTest.php
  tests/php/Integration/Ajax/ParseUriTest.php
  tests/php/Integration/Ajax/TestFileTest.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

fix: move wp_send_json_success outside exception handlers
  src/php/Browser.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml

ci: add integration tests to pre-push hook
  captainhook.json
Due: prettier --write

feat: add MSW integration for enhanced component testing
  package.json
  pnpm-lock.yaml
  tests/msw/factories.ts
  tests/msw/handlers.ts
  tests/msw/setup.ts
  tests/ts/integration/BrowserApp.msw.test.tsx
  vitest.config.msw.js
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

feat: add comprehensive Playwright E2E test suite + CI/CD
  .github/workflows/test.yml
  .gitignore
  package.json
  playwright.config.ts
  tests/e2e/fixtures/test-repos.json
  tests/e2e/fixtures/wordpress.ts
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/page-objects/WordPressAdmin.ts
  tests/e2e/setup/global-setup.ts
  tests/e2e/setup/global-teardown.ts
  tests/e2e/specs/01-repository-search.spec.ts
  tests/e2e/specs/02-release-browsing.spec.ts
  tests/e2e/specs/03-directory-browsing.spec.ts
  tests/e2e/specs/04-asset-confirmation.spec.ts
  tests/e2e/specs/05-error-handling.spec.ts
  tests/e2e/specs/06-loading-states.spec.ts
  tests/e2e/specs/07-cache-behavior.spec.ts
  tests/e2e/utils/cache-helper.ts
  tests/e2e/utils/wp-ready.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: correct MSW handlers and Vitest configuration
  tests/msw/handlers.ts
  tests/ts/integration/BrowserApp.msw.test.tsx
  vitest.config.js
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck

fix: correct E2E test selectors for WordPress components and iframe
  tests/e2e/fixtures/wordpress.ts
  tests/e2e/page-objects/BrowserModal.ts
  tests/e2e/page-objects/WordPressAdmin.ts
  tests/e2e/setup/global-setup.ts
  tests/e2e/specs/00-debug-selectors.spec.ts
  tests/e2e/specs/00-smoke.spec.ts
  tests/e2e/utils/debug.ts
Due: prettier --write, eslint --fix, tsc --noEmit --skipLibCheck
